<div>
    <h3 class="page-title" data-ng-bind="$state.current.data.pageTitle"></h3>
    <div data-ncy-breadcrumb></div>
</div>
<div class="row">
    <div class="portlet light bordered">
        <tabset justified="false">
            <tab heading="详情">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">产品名称：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.name"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">销售单位：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.sellingUnit"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">销售价：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.sellingPrice"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">规格名称：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.specName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">状态：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.stateName"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">成本价：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind=""></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">上架时间：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.createTime"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">最后修改时间：</label>
                            <div class="col-md-9">
                                <p class="form-control-static" ng-bind="product.lastUpdateTime"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a href="#/product_list.html" class="btn default"><i
                                        class="fa fa-chevron-circle-left"></i> 返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="用户汇总" ng-click="queryUserStatis()">
                <form class="form-horizontal" name="productDetailForm" action="tasting/userStatisToEexcel" novalidate>
                    <input type="hidden" value="{{id}}" name="id"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="form-actions" style="padding:15px ;">
                                        <div class="row">
                                            <button class="btn primary" type="submit">
                                                <i class="icon-share-alt"></i> 导出
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-container table-scrollable">
                                        <table class="table table-striped table-bordered table-hover table-btns"
                                               role="grid" id="datatable_ajax">
                                            <thead>
                                            <tr class="heading">
                                                <th>序号</th>
                                                <th>手机号</th>
                                                <th>姓名</th>
                                                <th>终端店</th>
                                                <th>下单件数</th>
                                                <th>下单金额</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="item in userRO" class="odd gradeX">
                                                <td ng-bind="$index+1"></td>
                                                <td ng-bind="item.mobileNo"></td>
                                                <td ng-bind="item.name"></td>
                                                <td ng-bind="item.companyName"></td>
                                                <td ng-bind="item.orderNum"></td>
                                                <td>
                                                    <span ng-bind="item.orderAmount | number:2"></span>元
                                                </td>
                                            </tr>
                                            <tr class="odd gradeX" ng-if="isHideUser">
                                                <td>合计</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td ng-bind="userOrderNumTotal"></td>
                                                <td>
                                                    <span ng-bind="userOrderAmountTotal | number:2"></span>元
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</div>